@import './base';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
h1,h2,p {
  color: $dark-c;
}
p {
  font-size: 1em;
  padding-top: 0;
}
a,a:link,a:hover,a:visited,a:active {
  text-decoration:none;
  color: $dark-c;
}
ul,li {
  list-style-type: none;
}
.main {
  &__wrapper {
    @include size(100vh, 100vw);
    background-color: $light-bg-c;
    padding-bottom: 150px;
  }
  &__card {
    position: relative;
    overflow: hidden;
    max-width: 1000px;
    height: 68vh;
    margin: 0 auto;
    text-align: center;
    border-radius: 0;
    background-color: $white-c;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    &--innerspace {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      height: 100%;
      width: 500px;
    }
  }
}
.btn{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    @include size(155px, 50px);
    background: #fff;
    opacity: .4;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 2;
  }
}
.btn:hover {  
  &:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
